* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
div.frame {
    border: 2px solid black;
    border-radius: 15px;
}

div.container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 180px;
    gap: 15px;
}

div.display {
    border: 2px solid black;
    height: 90px;
    width: 180px;
    border-radius: 10px;
    padding: 7px 8px 2px 8px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 18px;
}

div.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.row {
    display: flex;
    width: 180px;
    justify-content: space-between;
}

button {
    font-size: 30px;
    width: 50px;
    border-radius: 30px;
}
.result-text {
    align-self: flex-end;
    
}