* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: rgba(245, 245, 220, 0.281);
    flex-direction: column;
}
div.frame {
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgba(243, 245, 245, 0.945);
}

div.container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 180px;
    gap: 15px;
    
}

div.display {
    border: 2px solid black;
    height: 90px;
    width: 180px;
    border-radius: 10px;
    padding: 7px 8px 2px 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'JetBrains Mono', 'Roboto Mono', monospace;
    background-color: #9ea78d;
    color: #2b3024;
    text-shadow: 1px 1px 0px rgba(255,255,255,0.2)
    
}

div.buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.row {
    display: flex;
    width: 180px;
    justify-content: space-between;
}

button {
    font-size: 30px;
    width: 50px;
    border-radius: 30px;
    background-color: #2b3024;
    color: white;
}
.result-text {
    align-self: flex-end;
    
}
button.equals {
    color: black ;
    background-color: #ff7b00;
}
div.who {
    margin-top: 10px;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
